/*===========mise en page générale===========*/
/*===========================================*/


body {
  background: url(../img/bg.png);
}

/*===========mise en page header===========*/
/*===========================================*/

header .navbar-header {
  display: flex;
  background-color: none;
  box-shadow: 0px 0px 8px lightgray;
}

header .navbar-header > button {
  border: none;
  margin-left: 5px;
  /*width: 45px;*/
}

.icon-bar {
  border: 2px solid black;
  border-radius: 2px!important;
  color: black;
}


header .navbar-brand > img {
  max-width: 62%;
  justify-content:space-around;
  margin: auto;
  /*border: 1px solid red;*/
  /*height: auto;*/
}

header a:first-of-type {
  align-self:baseline;
  padding: 0;
  margin: auto;
  height: 100%;
}

.glyphicon-shopping-cart {
  color: black;
}
